/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'), url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(45deg, #eeeeee, #fafafa);
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* ------------------------------------------ */
/* SIDEBAR BLOCK
/* ------------------------------------------ */
.sidebar {
  width: 30%;
  background: black;
}
/* ------------------------------------------ */
/* CONTENT BLOCK
/* ------------------------------------------ */
.content {
  background: red;
}
/* ------------------------------------------ */
/* TABS BLOCK
/* ------------------------------------------ */
.tabs {
  background: blue;
}
/* ------------------------------------------ */
/* FILTERS BLOCK
/* ------------------------------------------ */
.filters {
  background: white;
}
/* ------------------------------------------ */
/* PLAYERS BLOCK
/* ------------------------------------------ */
.players {
  width: 30%;
  background: black;
}
