/* ------------------------------------------ */
/* NOTIFICATIONS BLOCK
/* ------------------------------------------ */
.notifications {
	flex-grow: 1;
}

.notifications__item {
	font-size: 14px;
	line-height: 1.71;

	&--success {
		color: #26bf8c;
	}
}
