/* ------------------------------------------ */
/* TABS BLOCK
/* ------------------------------------------ */
.tabs {
	display: block;
}

.tabs__list {
	display: flex;

	margin: 0;
	padding: 0;

	list-style-type: none;

	text-align: center;

	font-size: 14px;
}

.tabs__item {
	width: 25%;
	height: 48px;

	text-align: center;

	@media (min-width: @medium-widths) {
		height: 45px;
	}
}

.tabs__link {
	display: block;

	text-decoration: none;

	color: #303030;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	font-size: 14px;
	line-height: 3.43;

	@media (min-width: @medium-widths) {
		line-height: 3;
	}

	@media (min-width: @maximun-widths) {
		line-height: 3.43;
	}

	&--active {
		height: 49px;

		border-bottom: 2px solid #303030;

		font-weight: bold;

		@media (min-width: @medium-widths) {
			height: 43px;
		}

		@media (min-width: @maximun-widths) {
			height: 49px;
		}
	}
}
